::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
  background: hsl(var(--primary) /.45);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary) /.34);
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

/* ::-webkit-scrollbar-track {
  background: hsl(var(--accent)/.2);
  border-radius: 4px;
} */
