@layer base {
  :root {
    --background: var(--surface-0);
    --foreground: var(--surface-900);

    --muted: var(--surface-200);
    --muted-foreground: var(--surface-600);

    --popover: var(--surface-0);
    --popover-foreground: var(--surface-900);

    --card: var(--surface-0);
    --card-foreground: var(--surface-900);

    --border: var(--surface-200);
    --input: var(--surface-200);

    --primary: var(--primary-500);
    --primary-foreground: var(--surface-0);

    --secondary: var(--secondary-500);
    --secondary-foreground: var(--surface-900);

    --accent: var(--secondary-100);
    --accent-foreground: var(--secondary-900);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: var(--primary);

    --radius: 10px;

    --sidebar: 0 0% 98%;
    --sidebar-background: var(--sidebar);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: var(--surface-900);
    --foreground: var(--surface-0);

    --muted: var(--surface-800);
    --muted-foreground: var(--surface-400);

    --popover: var(--surface-900);
    --popover-foreground: var(--surface-0);

    --card: var(--surface-900);
    --card-foreground: var(--surface-0);

    --border: var(--surface-700);
    --input: var(--surface-700);

    --primary: var(--primary-400);
    --primary-foreground: var(--surface-900);

    --secondary: var(--secondary-400);
    --secondary-foreground: var(--surface-0);

    --accent: var(--secondary-800);
    --accent-foreground: var(--secondary-100);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: var(--primary);

    --sidebar: 240 5.9% 10%;
    --sidebar-background: var(--sidebar);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
